{% extends "manager_templates/base_manager.html" %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Add Semster</h1>

    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">

            <div class="card" style="margin-top: 20px;">
                <div class="card-body">
                    <!-- <h5 class="card-title text-center">Add Department</h5> -->
                    <div class="mb-3">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <div style="text-align: center"
                                class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
                                style="white-space: pre-line">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="number" min="1" name="semster_number" value="{{semester_number}}" class="form-control"
                                placeholder="Semster Number" style="margin-top: 20px;" />
                        </div>
                        <div class="mb-3">
                            <select name="batch" class="form-select" id="database-users-select">
                                <option disabled selected>Select Batch</option>
                                {% for batch in batches %}
                                <option value="{{batch.id}}">
                                    {{batch.year}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="text" name="starting_date" value="{{from_data.starting_date}}" class="form-control datepicker"
                                placeholder="Starting Date" style="margin-top: 20px;" />
                        </div>
                        <div class="mb-3">
                            <input type="text" name="end_date" value="{{form_data.end_date}}" class="form-control datepicker"
                                placeholder="End Date" style="margin-top: 20px;" />
                        </div>

                        
                        <div class="mb-3">
                            <button type="submit" name="action" value="give_access" class="btn btn-success"
                                id="give-access">
                                <i class="bi bi-floppy"></i>
                                <span>Submit</span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>
        </div>
        </main>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script>
            $(document).ready(function () {
                $(".datepicker").datepicker({
                    dateFormat: 'yy-mm-dd' // Adjust the date format as needed
                });
            });
        </script>

        {% endblock %}