{% extends "manager_templates/base_manager.html" %}
{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Add Course</h1>

    </div>
    <div class="row">
        <div class="col-md-12 col-lg-12">

            <div class="card" style="margin-top: 20px;">
                <div class="card-body">
                    <!-- <h5 class="card-title text-center">Add Department</h5> -->
                    <div class="mb-3">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                            <div style="text-align: center"
                                class="alert {% if message.tags == 'error' %}alert-danger{% elif message.tags == 'success' %}alert-success{% endif %}"
                                style="white-space: pre-line">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <form method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="text" name="course_name" value="{{course_name}}" class="form-control"
                                placeholder="Course Name" style="margin-top: 20px;" />
                        </div>
                        <div class="mb-3">
                            <input type="text" name="course_code" value="{{course_code}}" class="form-control" placeholder="Course Code"
                                style="margin-top: 20px;" />
                        </div>
                        <div class="mb-3">
                            <select name="Instructor" class="form-select" id="database-users-select">
                                <option disabled selected>Select Instructor Name</option>
                                {% for instructor in instructors %}
                                <option value="{{instructor.id}}">{{instructor.user.first_name}} {{instructor.user.last_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <select name="semster" class="form-select" id="database-users-select">
                                <option disabled selected>Select Semster</option>
                                {% for semster in semsters %}
                                <option value="{{semster.id}}">Semster({{semster.semster_number}}) Batch({{semster.batch.year}})</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <button type="submit" name="action" value="give_access" class="btn btn-success"
                                id="give-access">
                                <i class="bi bi-floppy"></i>
                                <span>Submit</span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>

        </div>


    </div>
    </div>
    <div class="pagetitle">
        <h1>List Of Batch</h1>
    
    </div><!-- End Page Title -->
    
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card bg-glass">
                {% if message_error %}
                <div style="text-align: center" class="alert alert-danger" style="white-space: pre-line">
                    {{ message_error}}
                </div>
                {% elif message_succ %}
                <div style="text-align: center" class="alert alert-success" style="white-space: pre-line">
                    {{ message_succ }}
                </div>
                {% endif %}
            </div>
    
        </div>
        <div class="card-body">
            <p class="card-title"></p>
            <div class="table-responsive">
                <table class="table table-hover" id="dataTables-example" width="50%">
                    <thead>
                        <tr style="font-weight: normal; font-size: smaller;">
                            <th>Course Code</th>
                            <th>Course Name</th>
                            <th>Instructor</th>
                            <th>Semster</th>
                            <th>Course Registered Date</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for course in courses %}
                        <tr>  
                            <td>{{course.code}}</td>
                            <td>{{course.name}}</td>
                            <td>{{course.instructor.user.username}}</td>
                            <td>Semster({{course.semester.semster_number}}) Batch({{course.semester.batch.year}})</td>
                            <td>{{course.created_at}}</td>
                            <td><a href="#" class="btn btn-outline-info btn-rounded"><i class="bi bi-pencil-square"></i></a>
                            </td>
                            <td><a href="#" class="btn btn-outline-danger btn-rounded"><i class="bi bi-trash3"></i></a>
                            </td>
                        </tr>
                       {% endfor %}
                    </tbody>
    
                </table>
            </div>
        </div>
    
    </div>
    </div>



</main><!-- End #main -->
{% endblock %}